<!DOCTYPE html>
{% if request.cookies.get('lang') == 'en' %}
<html dir="ltr"> 
  {% elif request.cookies.get('lang') == 'ar' %}
  <html dir="rtl">
   <style>
     *{
       font-family: 'Cairo', sans-serif;
   }
   .contact-us li {
   margin-right: 10px;
    
}
.contact-us input::placeholder{
    direction: rtl !important;
}
   </style>
    {% endif %}

   <style>
       body { 
           background-color:  #130423 !important;
       }
   </style>

  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if request.cookies.get('lang') == 'en' %}
    <title>{{ page_title.en }}</title>
{% else %}
    <!-- Arabic title -->
    <title>{{ page_title.ar }}</title>
{% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">

    <!-- bootstrap link ------- -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% include 'layout.html' %}
</head>
<body>
   
  
      <!-- start contact-us --------------- -->
      {% include 'spinner.html' %}
      <main class="body-content">
        {% include 'nav.html' %}
        <section class="contact-us" data-aos="fade-up" data-aos-duration="400" data-aos-delay="200"  data-aos-easing="linear">
            <div class="container">
              
              <div class="row justify-content-between g-5 ">
                  <div class="col-lg-5 ">
                    <div class="heading">
                        
                        <h2 class="mb-4" data-aos="flip-up" data-aos-duration="400" data-aos-delay="200"  data-aos-easing="linear">{{ translations.get('Contact us') }}</h2>
                        <p data-aos="flip-up" data-aos-duration="400" data-aos-delay="250"  data-aos-easing="linear">{{ translations.get('Get in touch today') }}</p>
                    </div>
                       <div class="contact-info">
                        <ul>
                            <div class="d-flex" data-aos="zoom-in" data-aos-duration="400" data-aos-delay="300"  data-aos-easing="linear">
                               <div class="img">
                                <img src="{{ url_for('static', filename='images/contact/Email.svg') }}" alt="">
                               </div>
                                <li><a href="mailto:g.m.s@alwaseet-cs.com" class="">g.m.s@alwaseet-cs.com</a></li>
                            </div>
                            <div class="d-flex" data-aos="flip-up" data-aos-duration="400" data-aos-delay="400"  data-aos-easing="linear">
                                <div class="img">
                                    <img src="{{ url_for('static', filename='images/contact/Phone.svg') }}" alt="">
                                   </div>
                                <li style="direction: ltr !important;"><a href="tel:+966126571222">+966 12 6571 222</a></li>
                            </div>
                            <div class="d-flex" data-aos="flip-up" data-aos-duration="400" data-aos-delay="500"  data-aos-easing="linear">
                                <div class="img">
                                    <img src="{{ url_for('static', filename='images/contact/Mark.svg') }}" alt="">
                                   </div>
                                <li class="">
                                    {{ translations.get('location') }}
                                </li>
                            </div>
                        </ul>
                       </div>
                  </div>
                  <div class="col-lg-6" data-aos="flip-up" data-aos-duration="400" data-aos-delay="600"  data-aos-easing="linear">
                     <div class="contact-form shadow">
                        <form action="{{ url_for('mailer.contact') }}" method="POST">
                            <div class="d-flex justify-content-between first-inputs">
                                <div class="input name mb-4">
                                    <label for="name">{{ translations.get('Name') }}</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder=" {{ translations.get('full name') }}  ">
                                </div>
                                <div class="input email mb-4">
                                    <label for="email">{{ translations.get('Email') }}</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="g.m.s@alwaseet-cs.com">
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="input">
                                    {% if request.cookies.get('lang') == 'en' %}
                                    <label for="phone">{{ translations.get('Phone') }}</label>
                                    <input  type="text" class="form-control" id="phone" name="phone" placeholder="+966 12 6571 222">
                                    {% elif request.cookies.get('lang') == 'ar' %}
                                    <label for="phone">{{ translations.get('Phone') }}</label>
                                    <input  style=" direction: ltr  !important; text-align: right !important;" type="text" class="form-control" id="phone" name="phone" placeholder="+966 12 6571 222">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="input">
                                    <label for="message">{{ translations.get('Message') }}</label>
                                    <textarea id="message" name="message" class="form-control" placeholder="{{ translations.get('Please type your message here...') }}"></textarea>
                                </div>
                            </div>
                            
                            <div class="submit-btn">
                                <button type="submit">{{ translations.get('Send a message') }}</button>
                            </div>
                        </form>                    
                     </div>
                  </div>
              </div>
            </div>
        </section>
    {% include 'album.html' %}
   
        {% include 'footer.html' %}
      </main>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>
</html>